html, body {
    margin: 0; 
    height: 100vh; 
    overflow: hidden;
}

/*grid tutrial: https://www.w3schools.com/css/css_grid.asp*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    Background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    margin: 20px;
    place-self: center;
}

.joystick {
    border: 1px solid #000;
    background: white;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative;
}
.stick {
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 100%;
    position: absolute;
    top: 175px;
    left: 175px;
}
